html, body{
	font-family: Montserrat, Arial, sans-serif;
	margin: 0;
}

header{
	background-color: #82abed;
	padding: 40px 40px 40px 30px;
	text-align: center;
}

h1{
	font-size: 90px;
	color: white;
}
header img{
	border-radius: 175px;
	width: 300px;
	border: 14px solid #9e32d3;
}

.content{
	max-width: 400px;
	margin: 20px auto;
	background-color: coral;
	padding: 5px 20px;
}

img.big-image{
	max-width: 100%;
}

p.caption{
	font-size: 16px
	color: green;
	font-style: italic; 
}

ul{
	list-style: none;
	padding: 0;
	margin: 0;
}

a{
	color: blue;
	text-decoration: none;
}

footer{
	margin-top: 20px;
	padding: 20px 20px;
	background-color: grey;
}

footer ul{
	text-align: center;
}

footer ul li{
	display: inline;
	margin: 0 5px;
}